<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <a class="nav-link" href="/">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Dashboard
        </a>
        <div class="sb-sidenav-menu-heading">Master</div>
        <a class="nav-link" href="/category">
          <div class="sb-nav-link-icon">
            <i class="nav-icon fas fa-calendar-alt"></i>
          </div>
          Category
        </a>
        <a class="nav-link" href="/nominal">
          <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
          Nominal
        </a>
        <a class="nav-link" href="/voucher">
          <div class="sb-nav-link-icon"><i class="far fa-image"></i></div>
          Voucher
        </a>
        <div class="sb-sidenav-menu-heading">Metode Pembayaran</div>
        <a class="nav-link" href="/bank">
          <div class="sb-nav-link-icon">
            <i class="nav-icon fas fa-money-check"></i>
          </div>
          Bank
        </a>
        <a class="nav-link" href="/payment">
          <div class="sb-nav-link-icon">
            <i class="mav-icon fas fa-money-check-alt"></i>
          </div>
          Type of payment
        </a>
        <div class="sb-sidenav-menu-heading">Transactions</div>
        <a class="nav-link" href="">
          <div class="sb-nav-link-icon">
            <i class="mav-icon fas fa-shopping-cart"></i>
          </div>
          Transaction
        </a>
      </div>
    </div>
  </nav>
</div>
